body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 25px;
}

.card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 575px;
    border: 1.5px solid lightgray;
}

h2{
    margin-left: 25px;
}

p {
    margin-left: 25px;
}

span {
    margin-left: 25px;
}

img {
    margin-top: 12px;
    margin-left: 110px;
}
