:root {
    --modal-height: 70vh;
}

body * {
    box-sizing: border-box;
}


.modal-bg {
    background: rgba(50, 50, 50, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 70vw;
    height: var(--modal-height);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.close {
    align-self: flex-end;
}

.hidden {
    display: none !important;
}


.modal-body {
    margin-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(var(--modal-height) - 10vh);
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.the-comments {
    padding: 0 20px;
    height: 100%;
    overflow-y: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-content: flex-start;
    padding: 5px;
    align-items: center;
    border-bottom: solid 1px #CCC;
}

