@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

/* Task 3 */

.container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50px 50px auto 50px;
    row-gap: 10px;
    column-gap: 10px;
}

header {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

nav {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

aside {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

section {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

main {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    min-height: 80vh;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}



@media (max-width: 1020px) {
  .container {
    display: grid;
    grid-template-columns: 25% auto;
  }

  header {
    grid-column: 1 / 3;
}

nav {
    grid-column: 1 / 3;
}

aside {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

section {
    grid-row: 3 / 4;
}

footer {
    grid-column: 2 / 3;
}

}


@media (max-width: 720px) {
}